name: Install or Upgrade Helm Chart on Kubernetes Cluster
on:
  workflow_call:
    inputs:
      ref_name:
        required: true
        type: string
        description: tag or branch name to get values.yml file from
      release:
        required: true
        type: string
        description: the name of the release e.g. ubauth-ubique
      helm_command:
        type: string
        description: which command to run with helm, mostly `install` or `upgrade`
        default: upgrade
      values_file_path:
        required: true
        type: string
        description: path to the values.yml file
      chart:
        required: true
        type: string
        description: url of the chart repository or file
      chart_type:
        required: false
        type: string
        description: type of chart eg. `repo`, `oci` or `tgz`
        default: 'repo'
      chart_version:
        required: false
        type: string
        description: chart version or branch (default main)
        default: 'main'
      namespace:
        required: true
        type: string
        description: e.g. ubique, swisstopo, schweizmobil
      az_login_flow:
        type: string
        default: 'oidc'
        required: false
        description: set to 'service_principal' to login with service principal flow. secrets 'az_client/tenant/subscription_id' required for oidc flow and 'az_service_principal' for service principal flow
      cluster:
        default: 'ub-kub-dev'
        type: string
        required: false
        description: 'name of the cluster (default: ub-kub-dev)'
      cluster_resource_group:
        default: 'ub-schweiz-cluster'
        type: string
        required: false
        description: 'resource group of the cluster (default: ub-schweiz-cluster)'
      flags:
        description: Optional flags for helm command (e.g. --dry-run --debug)
        type: string
        required: false

    secrets:
      az_service_principal:
        required: false
      az_client_id:
        required: false
      az_tenant_id:
        required: false
      az_subscription_id:
        required: false
      workflow_personal_access_token_github:
        required: false
      oci_registry_url:
        required: false
      oci_registry_username:
        required: false
      oci_registry_password:
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ inputs.ref_name }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        if: ${{ inputs.chart_type == 'repo' }}
        with:
          repository: ${{ inputs.chart }}
          ref: ${{ inputs.chart_version }}
          token: ${{ secrets.workflow_personal_access_token_github }}
          path: './chart'

      - name: Azure Login with OIDC flow
        if: ${{ inputs.az_login_flow == 'oidc' }}
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.az_client_id }}
          tenant-id: ${{ secrets.az_tenant_id }}
          subscription-id: ${{ secrets.az_subscription_id }}

      - name: Azure Login with service principal
        if: ${{ inputs.az_login_flow == 'service_principal' }}
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          creds: '${{ secrets.az_service_principal }}'

      - name: Set up kubelogin for non-interactive login
        uses: azure/use-kubelogin@76597ae0fcbaace21b05e13a2cbf8daee2c6e820 # v1
        with:
          kubelogin-version: 'v0.0.28'

      - name: Set AKS context
        uses: azure/aks-set-context@c7eb093e5a5d47caa333f64974d5fd1cd4bf069d # v4
        with:
          cluster-name: ${{ inputs.cluster }}
          resource-group: ${{ inputs.cluster_resource_group }}
          admin: 'false'
          use-kubelogin: 'true'

      - name: Azure setup helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: 'v3.10.1'

      - name: Helm registry login
        if: ${{ inputs.chart_type == 'oci' }}
        run: echo "${{ secrets.oci_registry_password }}" | helm registry login ${{ secrets.oci_registry_url }} --username ${{ secrets.oci_registry_username }} --password-stdin

      - name: Initialize Command
        run: echo "COMMAND=${{ inputs.helm_command }} --namespace ${{ inputs.namespace }}" >> $GITHUB_ENV

      - name: Add values file
        run: echo "COMMAND=${{ env.COMMAND }} -f ${{ inputs.values_file_path }}" >> $GITHUB_ENV

      - name: Add chart release
        run: echo "COMMAND=${{ env.COMMAND }} ${{ inputs.release }}" >> $GITHUB_ENV

      - name: Add chart if it's a repo
        if: ${{ inputs.chart_type == 'repo' }}
        run: echo "COMMAND=${{ env.COMMAND }} ./chart" >> $GITHUB_ENV

      - name: Add chart if it's a tgz file
        if: ${{ inputs.chart_type == 'tgz' }}
        run: echo "COMMAND=${{ env.COMMAND }} ${{ inputs.chart }}" >> $GITHUB_ENV

      - name: Add chart if it's a oci url
        if: ${{ inputs.chart_type == 'oci' }}
        run: echo "COMMAND=${{ env.COMMAND }} ${{ inputs.chart }} --version ${{ inputs.chart_version }}" >> $GITHUB_ENV

      - name: Execute helm command
        run: helm ${{ env.COMMAND }} ${{ inputs.flags }}

