name: Deploy Maven Package
on:
    workflow_call:

        inputs:
            parent_pom:
                required: true
                type: string
                description: tag or branch name, used for mvn versions:set
            ref_name:
                type: string
                required: true
            java_version:
                default: '17'
                type: string
                required: false

        secrets:
            artifactory_user:
                required: true
            artifactory_password:
                required: true
            artifactory_url:
                required: true
            artifactory_repo:
                required: true

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
            -   name: Set up JDK
                uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf
                with:
                    java-version: ${{ inputs.java_version }}
                    distribution: 'adopt'
            -   name: Cache Maven packages
                uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed
                with:
                    path: ~/.m2/repository
                    key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
                    restore-keys: ${{ runner.os }}-m2
            -   name: Create settings.xml
                uses: whelk-io/maven-settings-xml-action@8a613be18185c8521e1501081adad5041840f2c8
                with:
                    servers: '[{"id": "ubique-artifactory", "username": "${{ secrets.artifactory_user}}", "password": "${{ secrets.artifactory_password }}"}]'
                    repositories: '[{"id" : "ubique-artifactory", "url" : "${{ secrets.artifactory_url }}${{ secrets.artifactory_repo }}"}]'
            -   name: Get version
                env:
                    REF_NAME: ${{ inputs.ref_name }}
                run: echo "VERSION=${REF_NAME/[v\/]/}" >> $GITHUB_ENV
            -   name: Set versions
                run: mvn -f ${{ inputs.parent_pom }} versions:set -DnewVersion=$VERSION
            -   name: Commit versions
                run: mvn -f ${{ inputs.parent_pom }} versions:commit
            -   name: Deploy package
                run: mvn -f ${{ inputs.parent_pom }} package deploy
