name: Build and Push Docker Images on release/
on:
  workflow_call:
    inputs:
      ref_name:
        required: true
        type: string
        description: tag or branch name
      node_version:
        default: "20"
        type: string
        required: false
      checkout_lfs:
        required: false
        default: false
        type: boolean
      checkout_submodules:
        required: false
        default: false
        type: string
        description: "Whether to checkout submodules: `true` to checkout submodules or `recursive` to recursively checkout submodules."
      yarn_version:
        default: "1.22.19"
        type: string
        required: false
      cache_dependency_path:
        default: "yarn.lock"
        type: string
        required: false
      release_env:
        required: true
        type: string
        description: 'ENV to build. dev|prod. runs "yarn run build${build_cmd_postfix}:${release_env}"'
      build_cmd_postfix:
        required: false
        default: ""
        type: string
        description: 'Runs "yarn run build${build_cmd_postfix}:${release_env}"'
      image_name_postfix:
        required: false
        default: ""
        type: string
        description: "Creates image name in the form ${app_name}${image_name_postfix}-${release_env}"
      tag_add_commithash:
        required: false
        default: false
        type: boolean
        description: Add the current commit hash to the branch (necessary when deploying from a branch)
      app_name:
        required: true
        type: string
        description: name to tag the image with
      app_directory:
        required: true
        type: string
        description: directory that contains the package.json
      run_poeditor:
        required: false
        default: false
        type: boolean
      poeditor_get_translations_filename:
        required: false
        default: getTranslations.py
        type: string
        description: name of the getTranslations script. Defaults to getTranslations.py.
      dirs_for_docker_build:
        required: true
        type: string
        description: Space-separated list of files or glob pattern to include in docker build context. E.g. 'public .next' for .next builds or 'build' for other web builds.
      runs_on:
        required: false
        default: '["ubuntu-latest"]'
        type: string
        description: Set to '["self-hosted", "linux"]' if needed.
      dockerfile_name:
        required: false
        default: 'Dockerfile'
        type: string
        description: Name of the Dockerfile, defaults to 'Dockerfile'
      docker_build_args:
        required: false
        type: string
        default: ''
        description: docker build args in the form 'KEY1=value1,KEY2=value2'

    secrets:
      acr_registry:
        required: true
      acr_username:
        required: true
      acr_password:
        required: true
      poeditor_api_key:
        required: false
        description: necessary if input.run_poeditor is true
      poeditor_project_id:
        required: false
        description: necessary if input.run_poeditor is true

jobs:
  create-docker-image:
    name: Create Docker Image
    runs-on: ${{ fromJson(inputs.runs_on) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ inputs.ref_name }}
          lfs: ${{ inputs.checkout_lfs }}
          submodules: ${{ inputs.checkout_submodules }}

      - name: Install yarn without node
        if: ${{ fromJson(inputs.runs_on)[0] == 'self-hosted' }}
        run: |
          curl -fsSL --create-dirs -o $HOME/bin/yarn \
          https://github.com/yarnpkg/yarn/releases/download/v${{ inputs.yarn_version }}/yarn-${{ inputs.yarn_version }}.js
          chmod +x $HOME/bin/yarn
          echo "$HOME/bin" >> $GITHUB_PATH

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "${{ inputs.node_version }}"
          check-latest: true
          cache: "yarn"
          cache-dependency-path: "${{ inputs.app_directory }}/${{ inputs.cache_dependency_path }}"

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        if: ${{ inputs.run_poeditor }}
        with:
          python-version: "3.14.2"
          cache: "pip"

      - name: Check requirements.txt existence
        if: ${{ inputs.run_poeditor }}
        id: check_requirements_txt
        uses: andstor/file-existence-action@31a502724c77ada11ba0b3442e34757182ccdbd3
        with:
          files: "requirements.txt"

      - name: Install required python module using pip
        if: ${{ steps.check_requirements_txt.outputs.files_exists == 'true' }}
        run: |
          python -m pip install -r requirements.txt

      - name: Run ${{ inputs.poeditor_get_translations_filename }}
        if: ${{ inputs.run_poeditor }}
        run: |
          python ${{ inputs.app_directory }}/${{ inputs.poeditor_get_translations_filename }} ${{ secrets.poeditor_api_key }} ${{ secrets.poeditor_project_id }}

      - name: Install using yarn
        run: |
          cd ${{ inputs.app_directory }} && yarn install

      - name: Build using yarn
        run: |
          cd ${{ inputs.app_directory }} && yarn run build${{ inputs.build_cmd_postfix }}:${{ inputs.release_env }}

      - name: Tar Build dir to docker
        run: |
          tar -czvf docker/${{ inputs.app_name }}/bin/${{ inputs.app_name }}.tar.gz -C ${{ inputs.app_directory }} ${{ inputs.dirs_for_docker_build }}

      - name: Set IMAGE_NAME
        run: echo "IMAGE_NAME=${{ inputs.app_name }}${{ inputs.image_name_postfix }}-${{ inputs.release_env }}" >> $GITHUB_ENV

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ${{ secrets.acr_registry }}
          username: ${{ secrets.acr_username }}
          password: ${{ secrets.acr_password }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Docker Metadata
        id: docker_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.acr_registry }}/${{ env.IMAGE_NAME }}
          # generate Docker tags based on the following events/attributes
          tags: |
            # set the tag from the raw git tag if tag_add_commithash is disabled
            type=semver,pattern={{raw}},enable=${{ ! inputs.tag_add_commithash }}
            # dynamically set the branch name and sha as a custom tag if tag_add_commithash is enabled
            type=raw,value={{branch}}-{{sha}},enable=${{ inputs.tag_add_commithash }}
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Docker build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          file: docker/${{ inputs.app_name }}/${{ inputs.dockerfile_name }}
          build-args: ${{ inputs.docker_build_args }}
          push: true
          context: docker/${{ inputs.app_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
